body {
    margin: 12px 24px;
    padding: 0;
    background-color: #f9f9f9;
}
h1 {
    padding: 0.5em;
    color: darkslategray;
    font-size: 1.1em;
    font-weight: lighter;
    margin-bottom: 0;
}
button {
    font-size: 0.9em;
    line-height: 12px;
    margin-top: 14px;
    padding: 6px 10px;
}
.pull-left {
    display: block;
    float: left !important;
}
.pull-right {
    display: block;
    float: right !important;
}
.hide {
    display: none;
}
.main {
    display: flex;
}
.row {
    width: 100%;
}
.column {
    text-align: center;
    display:table-cell;
    vertical-align:middle
}
.col-1 {
    width: 10%;
}
.col-3 {
    width: 30%;
}
.col-7 {
    width: 70%;
}
.col-10 {
    width: 100%;
}
.mt-2 {
    margin-top: 2.4em;
}
.buttons-bar {
    background-color: #e8e8e8;
    border-radius: 6px;
    min-height: 28px;
    max-height: 28px;
}
.buttons-bar-selected {
    box-shadow: 0px 0px 0px 2px rgba(0, 144, 237, 0.4);
}
.icons {
    width: 24px;
    height: 24px;
    margin-top: 2px;
}
.opacity-2 {
    opacity: 0.2;
}
