body {
    margin: 0;
    padding: 0;
}
h1 {
    padding: 0.5em;
    color: grey;
    font-size: 1em;
    font-weight: lighter;
}
button {
    font-size: 1em;
    line-height: 26px;
    margin-top: 20px;
    padding: 2px 12px;
    margin-right: 42px;
}
.hide {
    display: none;
}
.main {
    display: flex;
}
.column {
    text-align: center;
    display:table-cell;
    vertical-align:middle
}
.col-3 {
    width: 30%;
}
.col-7 {
    width: 70%;
}
.minimize-button {
    width: 64px;
    height: 64px;
    margin-left: 42px;
}
.opacity-2 {
    opacity: 0.2;
}
#errorWithClosePosition i {
    color: red;
}
